/* =========================
   FOOTER GLOBAL (footer.css)
   ========================= */
footer {
  background: var(--white);
  padding: 15px;
  text-align: center;
  color: var(--text-dark);
  font-size: 0.9rem;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: var(--shadow-sm);
}
